# **Data Manipulation**

- Adding/Removing Columns

- Data Aggregation

- Grouping and Pivot Tables

In [1]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [2]:
df['City'] = ['New York', 'Los Angeles', 'Chicago']

In [3]:
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
df = df.drop('City',axis=1)

In [5]:
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

# **Data Aggregation**

In [6]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)
df1 = df.groupby('Category')

In [7]:
x1 = df1['Value'].sum()
print(x1) #sum output

Category
A    55
B    80
Name: Value, dtype: int64

In [8]:
x2 = df1['Value'].mean()
print(x2) #mean output

Category
A    18.333333
B    26.666667
Name: Value, dtype: float64

In [9]:
x3 = df1['Value'].median()
print(x3) #median output

Category
A    15.0
B    25.0
Name: Value, dtype: float64

In [10]:
x4 = df1['Value'].max()
print(x4) #max output

Category
A    30
B    35
Name: Value, dtype: int64

In [11]:
x5 = df1['Value'].count()
print(x5) #count output

Category
A    3
B    3
Name: Value, dtype: int64

In [12]:
x6 = df1['Value'].min()
print(x6) #min output

Category
A    10
B    20
Name: Value, dtype: int64

In [13]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)
df1 = df.groupby('Category')
y1 = df1['Value'].sum()

In [14]:
pivot_table = df.pivot_table(index='Category', values='Value', aggfunc='sum')
print(pivot_table)

          Value
Category
A            55
B            80

# **Basic DataFrame Operations**

- Selecting Columns

- Filtering Data

- Sorting Data

- Descriptive Statistics

In [15]:
#selecting a column
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
df1 = df['Name']
df2 = df[['Name','Age']]

print(df1)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [16]:
print(df2)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [17]:
#Filter rows
x1 = df[df['Age']>30]
y1 = df[(df['Age']>25) & (df['City']=='New York')]
print(x1)

      Name  Age     City
2  Charlie   35  Chicago

In [18]:
print(y1)

Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [19]:
#sorting Data
Q1 = df.sort_values(by='Age')
Q2 = df.sort_values(by=['City','Age'],ascending=[True,False])

In [20]:
print(Q1)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [21]:
print(Q2)

      Name  Age         City
2  Charlie   35      Chicago
1      Bob   30  Los Angeles
0    Alice   25     New York