# **Python Lists**

List items are ordered,changeable, and allow duplicate values.Tuples are written within square brackets

In [1]:
fruits = ["apple","banana","cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [2]:
print(len(fruits))
print(type(fruits))

3
<class 'list'>

In [3]:
print(fruits[-1])
print(fruits[1:2])
print(fruits[1:])

cherry
['banana']
['banana', 'cherry']

In [4]:
if "apple" in fruits:
  print("yes,'apple' is in the fruits list")

yes,'apple' is in the fruits list

# **Add List Items**

append() insert() extend()

In [5]:
#inserting "watermelon" as the third item:
fruits.insert(2,"watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

In [6]:
#append we add the items
fruits.append("orange")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'orange']

In [8]:
#add the elements of tropical to thislist:
fruits = ["apple","banana","cherry"]
fruits2 = ["mango","pineapple","papaya"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [9]:
#add elements of a tuple to a list:
fruits = ["apple","banana","cherry"]
fruits2 = ["kiwi","orange"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# **Remove List Items**

remove(): it remove the specified item.
pop(): it removes tge specified index.
del: it removes the specified index also it can delete the list completely.
clear():List remains, but has no content empties the list.

In [10]:
fruits = ["apple", "banana", "cherry", "banana", "kiwi"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana', 'kiwi']

In [11]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [12]:
fruits = ["apple", "banana", "cherry"]
del fruits[0]

In [13]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

# **Sort List**

sort() : To sort descending, use the keyword argument reverse = True

reverse(): This method reverses the current sorting order of the elements.

In [14]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [15]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [16]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'Kiwi', 'Orange', 'banana']

# **Join Two Lists**

- using + operator
- Append list2 into list1: use the extend() method to add list2 at the end of list1.

In [17]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [18]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [19]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# **Copy Lists**

In [20]:
fruits = ["apple", "banana", "cherry"]
Newlist = fruits.copy()
print(Newlist)

['apple', 'banana', 'cherry']

In [21]:
fruits = ["apple", "banana", "cherry"]
Newlist = list(fruits)
print(Newlist)

['apple', 'banana', 'cherry']