# **if-else**

In [1]:
a = 45
b = 100
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 24
b = 24
if b > a:
  print("b is greater than a")
elif a ==b:
  print("a and b are equal")

a and b are equal

In [3]:
a = 100
b = 45
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# **Python Loops**

while loops and for loops

In [4]:
x = 1
while x < 4:
  print(x)
  x = x + 1

1
2
3

In [5]:
#using break statement
x = 1
while x < 4:
  print(x)
  if x == 3:
    break
  x = x + 1

1
2
3

In [6]:
#continue statement
x = 0
while x < 5:
  x += 1
  if x == 3:
    continue
  print(x)

1
2
4
5

In [9]:
#Number Guessing game Program In Python
import random
Max = 20
Min = 1
adaptive_Max = Max
adaptive_Min = Min
guessed = random.randint(Min, Max)
guess = 0
while guess != guessed:
    guess = int(input("New number: "))
    if guess == 0:
        print("Sorry that you're giving up!")
        break
    elif guess > guessed:
        adaptive_Max = guess - 1
        print("Choose Lower value")
    elif guess < guessed:
        adaptive_Max = guess + 1
        print("Choose Upper Value")
else:
    print("Congratulations. You made it!")

New number: 10
Choose Upper Value
New number: 15
Choose Upper Value
New number: 20
Congratulations. You made it!

# **For Loop**

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [14]:
for x in range(2,6):
   print(x)

2
3
4
5

In [16]:
#trinagle pattern of star
def pattern(n):
  k = 2 * n - 2
  for i in range(0,n):
    for j in range(0,k):
      print(end = " ")
    k = k - 1
    for j in range(0,i+1):
      print("*",end=" ")
    print(" ")
pattern(15)

                            *
                           * *
                          * * *
                         * * * *
                        * * * * *
                       * * * * * *
                      * * * * * * *
                     * * * * * * * *
                    * * * * * * * * *
                   * * * * * * * * * *
                  * * * * * * * * * * *
                 * * * * * * * * * * * *
                * * * * * * * * * * * * *
               * * * * * * * * * * * * * *
              * * * * * * * * * * * * * * *

In [18]:
#right start pattern
rows = 5
for i in range(0,rows):
  for j in range(0,i+1):
    print("*",end=' ')
  print("\r")

for i in range(rows,0,-1):
  for j in range(0,i-1):
    print("-",end = ' ')
  print("\r")

*
* *
* * *
* * * *
* * * * *
- - - -
- - -
- -
-

In [20]:
#sandglass pattern
rows = 5
i =0
while i <= rows - 1:
  j = 0
  while j < i:
    print('',end = ' ')
    j += 1
  k = i
  while k <= rows - 1:
    print('*',end = ' ')
    k += 1
  print()
  i += 1

i = rows - 1
while i >= 0:
  j =0
  while i >=0:
    j = 0
    while j < i:
      print('',end = ' ')
      j += 1
    k = i
    while k <= rows - 1:
      print('*',end = ' ')
      k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [33]:
rows = 14
print("__" * rows , end = "\n")
i = (rows//2) - 1
j = 2
while i != 0:
  while j <= (rows - 2):
    print("*&" * i , end = "")
    print("--" * j , end = "")
    print("&*" * i , end = "\n")
    i = i - 1
    j = j + 2

____________________________
*&*&*&*&*&*&----&*&*&*&*&*&*
*&*&*&*&*&--------&*&*&*&*&*
*&*&*&*&------------&*&*&*&*
*&*&*&----------------&*&*&*
*&*&--------------------&*&*
*&------------------------&*